<div>
  <p>
  Το πρόγραμμα συνοπτικά:<br>
  Σάββατο-Κυριακή οι πόρτες ανοίγουν στις 17:00 για το παζάρι εντύπων. 
  </p>

  <p>
    <strong>Σάββατο</strong><br>
    [18:00] Αλκοολικό βίωμα «Τα πίνω όλα» // EI, Χωρίς Τίτλο<br>
    [19:00] Videoart «Σημεία και Μέταμαν» // Μέταμαν<br>
    [20:00] Ποιητική περφόρμανς «ανάρμοστα σκαλιά» // Τσακμάκι<br>
    [21:00] Προβολή ταινιών μικρού μήκους «Έφυγε η Συρία, έφυγε», «Αιγαίο ή η κωλοτρυπίδα του θανάτου» // Τεφλόν<br>
    [21:30] Aνάγνωση «Clemens Schittko: Γερμανία, είσαι υπόνομος» // Τεφλόν<br>
    [22:30] DJ Set – Πάρτυ 
  </p>

  <p>
    <strong>Κυριακή</strong><br>
    [18:00] Workshop «Κοπτική βιβλιοδεσία» // Αλέξανδρος Διογένης<br>
    [19:00] Συζήτηση «Πνευματική ιδιοκτησία και creative commons» // Χίμαιρες<br>
    [20:00] Workshop «Σημάδια επαφής» // Κυτταρίτιδα<br>
    [21:00] Προβολή «Refait» // Humba<br>
    [21:30] Ομιλία «Κριτική/Λογοκρισία/Αυτοοργάνωση στον έντυπο λόγο» και σουρεαλιστικά παιχνίδια // Palinodiae/Παλινωδίαι<br>
  </p>
  <p>
  </p>
  <p>
    Καθ’ όλη τη διάρκεια του διημέρου installation με video art<br> 
    «Untitled (Cityscape)/Singularity» // Putresence (σε ειδικά διαμορφωμένο χώρο).
  </p>
  <div class="schedule">
    <strong>Αναλυτικά</strong>
    <ul>
      <li>«Untitled (Cityscape)/Singularity» // Putrescence<br> 
        Η διαδοχή των βίντεο μάς μεταφέρει στο σημείο συνάντησης με μια νέα οντότητα –γεννημένη στον κυβερνοχώρο–, η οποία παρατηρεί τα όρια του φυσικού και του ψηφιακού κόσμου, της θνητότητας και της άχρονης κατάστασης, του κενού και του πλήρους, της επανάληψης του θεάματος και του ελέγχου.  
      </li>
      <li>Aλκοολικό βίωμα «Τα πίνω όλα» // EΙ, Χωρίς Τίτλο<br>
        Δημιουργικό σπιντ ντέητινγκ υπό την επήρεια. 
      </li>
      <li>Video Art «Σημεία και Μέταμαν» // Μέταμαν<br>
        Βιντεοταινία που κανονικά θα έπρεπε να είναι θαμμένη, ανατιναγμένη, κρυμμένη για να μην τη βρει ποτέ κανείς, γιατί αν την ανοίξεις και τη δεις θα σ’ ενοχλήσει γιατί θα θυμηθείς τι συνέβη πριν δύο χρόνια. 
      </li>
      <li>Ποιητική περφόρμανς «ανάρμοστα σκαλιά» // Τσακμάκι<br>
        αν τα σκαλιά δεν είχαν ιεραρχία. αν η πόλη έχανε τα σκαλιά της. πόσοι να χωρούν άραγε σ’ ένα σκαλί; κείμενα που γράφτηκαν με αφορμή τα σκαλιά και θα παρουσιαστούν σε αυτά του 7ου ορόφου της Πανεπιστημίου 64. 
      </li>
      <li>Δύο ταινίες μικρού μήκους για τη μετανάστευση, τον πόλεμο και τον ρατσισμό // Τεφλόν<br>
        «Έφυγε η Συρία, έφυγε» (Λέσβος &amp; Αθήνα, 2016, 8΄)<br>
        Ένα πρωί η Συρία χαιρετά τον Χατζίκ που έχει το μανάβικο στη γωνία και τη Νεκρά Θάλασσα, παίρνει τις μαντίλες της, τους δρόμους της, τα χαλάσματά της, ζεύεται τους νεκρούς της και φεύγει.<br>
        Μετά την πρώτη προβολή της τον Οκτώβριο στο Paris Festival for Different &amp; Experimental Cinema και την επιλογή της από σημαντικά διεθνή φεστιβάλ (Internationale Kurzfilmtage Winterthur, Kasseler Dokfest, L’Alternativa κ.ά), η ταινία προβάλλεται για πρώτη φορά στην Ελλάδα.<br>
        «Αιγαίο ή η κωλοτρυπίδα του θανάτου» (Αθήνα, 2014, 8΄)<br>
        Ένας μυστηριώδης άντρας κάνει την εμφάνισή του σε διάφορες τοποθεσίες της Αττικής δίνοντας οδηγίες χρήσης σωσιβίου. Ποιον προσπαθεί να σώσει από την κωλοτρυπίδα του θανάτου; <br>
        Zebra Poetry Film Festival: Best Film for Tolerance Award | Paris Festival for Different &amp; Experimental Cinema: International Competition Award | Balkans Beyond Borders Short Film Festival: Jury Special Mention | Doctorclip Roma Poetry Film Festival: International Competition Award 
      </li>
      <li>Ανάγνωση «Clemens Schittko: Γερμανία, είσαι υπόνομος» // Τεφλόν<br>
        Ποιήματα του βερολινέζου ποιητή από το χειμερινό τεύχος του Τεφλόν. Ο Κλέμενς Σίτκο, με χιούμορ, σαρκασμό και γλώσσα ανεπιτήδευτη, σατιρίζει τον συντηρητισμό και την υποκρισία των μικροαστών, μιλάει για την ασφυξία που νιώθουν όλο και μεγαλύτερα κομμάτια της εργατικής τάξης σήμερα. 
      </li>
      <li>Workshop «Κοπτική βιβλιοδεσία» // Αλέξανδρος Διογένης<br>
        Κατασκευή χειροποίητων βιβλίων με κοπτική μέθοδο. 
      </li>
      <li>Συζήτηση «Πνευματική ιδιοκτησία και creative commons» // Χίμαιρες<br>
        Μια συζήτηση για όσα μπορεί να θέλουμε να μάθουμε για την πνευματική ιδιοκτησία, τις άδειες χρήσης και τον τρόπο παραγωγής και αναδιανομής έντυπων και ψηφιακών αντιγράφων. Η συζήτηση θα βασιστεί στις ερωτήσεις του κοινού και στην έρευνα/εμπειρία της ομάδας. 
      </li>
      <li>Workshop «Σημάδια επαφής ή μια τυχαία περιπλάνηση σε καρτεσιανό άξονα»<br>
        Μια πρόκληση να (φοβηθούμε να) αφεθούμε να γνωριστούμε να αγγιχτούμε να κοιταχτούμε, πριν τη μεταμόρφωση σε τέλειο σύστημα εντολών. Ένα παιχνίδι αναλογικής πραγματικότητας μη καταχωρισμένο σε προτεινόμενους εγκεκριμένους καταλόγους, από την παγίδα του οποίου κανείς δεν μπορεί να ξεφύγει –ακόμα κι αν δεν ρίξει κέρμα στον κερματοδέκτη.    
      </li>
      <li>Προβολή «Refait» // Humba<br>
        Το «Refait» αποτελεί μια νέα έκδοση του ποδοσφαιρικού αγώνα μεταξύ της Γαλλίας και της Γερμανίας στο Παγκόσμιο Κύπελλο του 1982 (Σεβίλλη, Ισπανία). Γυρισμένη από τον Pied La Biche στο Βιλερμπάν της Γαλλίας, κάθε πτυχή των δεκαπέντε τελευταίων λεπτών του αγώνα ανασκευάστηκε προσεκτικά: οι παίκτες, οι θέσεις, οι χειρονομίες, η ένταση, το δράμα κ.λπ.
      </li>
      <li>Ομιλία-Συζήτηση «Κριτική/Λογοκρισία/Αυτοοργάνωση στον έντυπο λόγο» και διαδραστικά σουρεαλιστικά παιχνίδια // Palinodiae/Παλινωδίαι<br>
        Ομιλία και συζήτηση πάνω στο τρίπτυχο Κριτική-Λογοκρισία-Αυτοοργάνωση, με τη σειρά όπως εξελίχθηκαν μέσα στην ιστορία σε σχέση με τον έντυπο λόγο. Στο τέλος θα μεταφερθούν σουρεαλιστικά παιχνίδια που υπήρξαν, σε διαδραστικό δρώμενο.   
      </li>
    </ul>
  </div>
</div>
