<div>
  Συμμετέχουν:
  <ul>
    <li>Αλέξανδρος Διογένης</li>
    <li><a href="#/zines/chimeres/">Chimeres fanzine</a></li>
    <li>ΕΙ</li>
    <li><a href="http://www.humbazine.gr" target="_blank">Humba</a></li>
    <li>Κυτταρίτιδα</li>
    <li><a href="http://smarmakescomics.tumblr.com" target="_blank">Μαλάκα λεσβίες</a></li>
    <li><a href="#/zines/metaman/">Μέταμαν</a></li>
    <li>Ουαπίτι</li>
    <li><a href="http://www.palinodiae.com" target="_blank">Palinodiae/Παλινωδίαι</a></li>
    <li><a href="http://project-dystopia.tumblr.com" target="_blank">Putrescence</a></li>
    <li><a href="https://www.facebook.com/sofankyart/" target="_blank">Sofanky</a></li>
    <li><a href="https://teflon.wordpress.com/" target="_blank">Τεφλόν</a></li>
    <li><a href="https://totsakmaki.wordpress.com/" target="_blank">Τσακμάκι</a></li>
    <li>ΧΩΡΙΣ ΤΙΤΛΟ</li>
  </ul>
</div>
