<div>
  Συμμετέχουν:
  <ul>
    <li><a href="#/zines/diogenes/">Αλέξανδρος Διογένης</a></li>
    <li><a href="#/zines/chimeres/">Chimeres fanzine</a></li>
    <li><a href="#/zines/ΕΙ/">EI</a></li>
    <li><a href="http://www.humbazine.gr" target="_blank">Humba</a></li>
    <li><a href="#/zines/kittaritidazine/">Κυτταρίτιδα</a></li>
    <li><a href="http://smarmakescomics.tumblr.com" target="_blank">Μαλάκα λεσβίες</a></li>
    <li><a href="#/zines/metaman/">Μέταμαν</a></li>
    <li>Ουαπίτι</li>
    <li><a href="http://www.palinodiae.com" target="_blank">Palinodiae/Παλινωδίαι</a></li>
    <li><a href="http://project-dystopia.tumblr.com" target="_blank">Putrescence</a></li>
    <li><a href="https://www.facebook.com/sofankyart/" target="_blank">Sofanky</a></li>
    <li><a href="#/zines/teflon/">Τεφλόν</a></li>
    <li><a href="#/zines/tsakmaki/">Τσακμάκι</a></li>
    <li>ΧΩΡΙΣ ΤΙΤΛΟ</li>
  </ul>
</div>
