<div>
  <p>
    <strong>17 και 18 Δεκεμβρίου<br>7ος όροφος στην Πανεπιστημίου 64</strong>
  </p>
  <p>
    Ένα διήμερο γεμάτο σελίδες γραμμένες και λευκές, γεμάτες κείμενα, σχέδια και ζωγραφιές, με ιστορίες αληθινές αλλά και φανταστικές. Ένα διήμερο σε έναν αυτοδιαχειριζόμενο χώρο με τη συμμετοχή δημιουργών φανζίν, περιοδικών, κόμικ και βιβλίων, οι οποίοι ενώνουν τις δυνάμεις και τη δημιουργικότητά τους, συζητούν, διαφωνούν, παίζουν, διαβάζουν, διασκεδάζουν, αλληλεπιδρούν. Πάντα μέσα σε ένα πνεύμα αντικουλτούρας αλλά και υποκουλτούρας. Ένα διήμερο που εκτός από κάθε λογής έντυπα θα έχει ήχους, μουσικές, εικόνες, σώματα εν κινήσει και μη. Ένα διήμερο που ευελπιστούμε να γίνει αφετηρία για συλλογικές δράσεις που θα βασίζονται στην αυτοοργάνωση, τη συνδιαμόρφωση, την αλληλεγγύη.
  </p>
  <p>
    Συμμετέχουν οι: Αλέξανδρος Διογένης, EI, Humba, Κυτταρίτιδα, Μαλάκα Λεσβίες, Μέταμαν, Ουαπίτι, Palinodiae/Παλινωδίαι, Putrescence, Sofanky, Τεφλόν, Τσακμάκι, Χίμαιρες, Χωρίς Τίτλο
  </p>
  <p>
    Με παζάρι από τις 17:00, παράλληλες δράσεις και πάρτυ!
  </p>
  <p>
    &nbsp;
  </p>
  <p>
    Κατέβασε την αφίσα <a href="static/img/terata_web.jpg" target="_blank"><strong>εδώ</strong></a>.
  </p>
</div>
