<div>
  <h3>Chimeres</h3>

  <p>
    Οι Χίμαιρες ξεκίνησαν το 2004, αρχικά σαν ένα μικρό φανζίν, φωτοτυπημένο και μοιρασμένο χέρι με χέρι.
    Ο τίτλος του προέρχεται από την φράση "Κυνηγάω Χίμαιρες" και χαρακτηρίζει την Ουτοπία των δημιουργών του.
  </p>

  <p>
    Σκοπός του εντύπου ήταν και είναι η αυτοέκφραση. Το να περιλαμβάνει μέσα κείμενα που προέκυψαν από
    ασφυξία και από καταπίεση, κυρίως κοινωνική. Μιλάει για μυθοπλασία, ποίηση, πολιτική, τέχνη και πολιτισμό
    και δεν αρέσκεται στους ειδικούς και τους παντογνώστες.
  </p>

  <p>
    Ουσιαστικά οι Χίμαιρες έχουν δημιουργήσει μια πλατφόρμα όπου ο καθένας μπορεί να εκφραστεί χρησιμοποιώντας
    τα μέσα της ομάδας με ερασιτεχνικό τρόπο. Με τα χρόνια εκτός από το έντυπο η ομάδα δημιούργησε ένα διαδικτυακό
    ραδιόφωνο, ένα site, μια σειρά από εξωστρεφείς δράσεις και μικροεκδόσεις που ακολουθούν το ίδιο μοντέλο ελευθερίας.
  </p>

  <a href="http://chimeres.gr" target="_blank">chimeres.gr</a>
</div>
