<div>
  <h3>Αλέξανδρος Διογένης</h3>

  <p>
    Από το σκοτάδι φως των ονείρων χιτώνας προβάλει <br>
    πάλλεται αισθήσεις λάμψεις πύρινοι γίγαντες στις <br>
    πόλεις σκαρφαλώνει καταπίνει μάζες παχύρευστες <br> 
    τσιμέντα σύρματα σήματα καπνού εισπνέει δύσεις <br>
    ειδήσεις σταματά. πως, έτσι, δεν είναι ναι. <br>
    Τον βρίσκεις στο μεταίχμιο της νύχτας τη μέρα <br>
    πυρώνει φόρμες μοτίβα πύλες σχετικά υπάρχουν <br>
    σκόρπιες πληροφορίες στα αρχεία της δυστοπίας <br>
    του παρελθόντος μέλλοντος σε υγρή μορφή ψηφιακή <br>
    λασπωμένη μουσική ανακατεμένη με τον ήχο της <br>
    νύχτας με φώτα σκοτάδια στα στενά. Χάνεται βρίσκει <br>
    κουβαλά ονόματα φανάρια σπαθιά ανοίγει κλειδώνει εννοεί,<br>
    έχει οράματα για τη γούνα σου. 
  </p>
  <br>
  <br>
  <br>

  <a href="mailto:alx.diogenes@gmail.com" target="_blank">επικοινωνία</a>
</div>
