<div>
  <h3>Αλέξανδρος Διογένης</h3>

  <p>
    Από το σκοτάδι φως των ονείρων χιτώνας προβάλει πάλλεται  αισθήσεις 
    λάμψεις πύρινοι γίγαντες στις πόλεις σκαρφαλώνει καταπίνει μάζες 
    παχύρευστες τσιμέντα σύρματα σήματα καπνού εισπνέει δύσεις ειδήσεις σταματά. πως, έτσι, δεν είναι ναι.
    Τον βρίσκεις στο μεταίχμιο της νύχτας τη μέρα πυρώνει φόρμες μοτίβα πύλες σχετικά
    υπάρχουν σκόρπιες πληροφορίες στα αρχεία της δυστοπίας του παρελθόντος μέλλοντος
    σε υγρή μορφή ψηφιακή λασπωμένη μουσική ανακατεμένη με τον ήχο της νύχτας με φώτα σκοτάδια στα στενά.
    Χάνεται βρίσκει κουβαλά ονόματα φανάρια σπαθιά ανοίγει κλειδώνει εννοεί,
    έχει οράματα για τη γούνα σου. 
  </p>

  
  <a href="mailto:alx.diogenes@gmail.com" target="_blank">επικοινωνία</a>
</div>
