<div>
  <h4>Κυτταρίτιδα</h4>

  <p>
   <i> σε αυτό τον κόσμο των μηχανών δεν είναι παντοδύναμο το πάθος, αλλά ο κανονισμός, ο νόμος </i> </p>
    <p>
    σε αυτό τον κόσμο η κυτταρίτιδα βγαίνει στην παρανομία ψηλαφώντας και γρατζουνίζει το σώμα της μηχανής διακηρύσσοντας την πίστη της στην φθορά,
    
      πριν γεννηθεί νεκρή και μετατραπεί σε αλγόριθμο με ένα λογικό σφάλμα που κανένας επιστήμονας ποτέ δεν θα εντοπίσει,
    
      γιατί δεν μπορεί να κινηθεί σε ευθείες,
    
      ελίσσεται σαν φίδι που φτύνει δηλητήριο στις υποδείξεις για το πώς πρέπει να ζει,
   
      θα σωθεί τελικά από τις φίλες της,
   
      όταν μεγαλώσει θέλει να γίνει εκπαιδεύτρια γερακιών που θα αιχμαλωτίζουν drones 
   
      για να τα χακάρει ώστε να στέλνουν αποπροσανατολιστικές πληροφορίες και ιούς στον εχθρό, 
   
      πριν μετατραπούν σε βροχή από γκλίτερ.
    
      συνήθως (αποτυγ)χάνει, 
    
      αναρρώνει με τζίντζερ σκόρδο,
    
      έχει ασυνάρτητες σκέψεις που δεν προλαβαίνει να πει,
   
      σαν νερά σε πάρτυ που ξέχασε να πιει,
    
      αφυδατώνεται και κάνει ραγάδες και σκοντάφτει και χτυπάει
   
      και γίνεται όλο και πιο όμορφη.
    
      στη φαντασία της έχει πετάξει πολλά πτώματα σε τάφρους με αιμοσταγείς φώκιες λεοπαρδαλές,
    
      και έχει κάνει άλλες τόσες εκτρώσεις.
   
      τη βρίσκει, αλλά συχνά την βρίσκουν κιόλας, συνήθως σε αυτο-τέτοια πράμματα,
   
      σε ανύποπτους χρόνους και αμήχανες καταστάσεις.</p>
  

  <a href="mailto:kittaritidazine@gmail.com" target="_blank">επικοινωνία</a>
</div>
