<div>
  <h4>Κυτταρίτιδα</h4>

  <p>
   <i> σε αυτό τον κόσμο των μηχανών δεν είναι παντοδύναμο το πάθος, αλλά ο κανονισμός, ο νόμος </i> </p>
    <p>
  <p>σε αυτό τον κόσμο η κυτταρίτιδα βγαίνει στην παρανομία ψηλαφώντας και γρατζουνίζει το σώμα της μηχανής διακηρύσσοντας την πίστη της στην φθορά,</p>
  <p>πριν γεννηθεί νεκρή και μετατραπεί σε αλγόριθμο με ένα λογικό σφάλμα που κανένας επιστήμονας ποτέ δεν θα εντοπίσει,</p>
  <p>γιατί δεν μπορεί να κινηθεί σε ευθείες,</p>
  <p>ελίσσεται σαν φίδι που φτύνει δηλητήριο στις υποδείξεις για το πώς πρέπει να ζει,</p>
  <p>θα σωθεί τελικά από τις φίλες της,</p>
  <p>όταν μεγαλώσει θέλει να γίνει εκπαιδεύτρια γερακιών που θα αιχμαλωτίζουν drones</p> 
  <p>για να τα χακάρει ώστε να στέλνουν αποπροσανατολιστικές πληροφορίες και ιούς στον εχθρό, </p>
  <p>πριν μετατραπούν σε βροχή από γκλίτερ.</p>
  <p>συνήθως (αποτυγ)χάνει, </p>
  <p>αναρρώνει με τζίντζερ σκόρδο,</p>
  <p>έχει ασυνάρτητες σκέψεις που δεν προλαβαίνει να πει,</p>
  <p>σαν νερά σε πάρτυ που ξέχασε να πιει,</p>
  <p>αφυδατώνεται και κάνει ραγάδες και σκοντάφτει και χτυπάει</p>
  <p>και γίνεται όλο και πιο όμορφη.</p>
  <p>στη φαντασία της έχει πετάξει πολλά πτώματα σε τάφρους με αιμοσταγείς φώκιες λεοπαρδαλές,</p>
  <p>και έχει κάνει άλλες τόσες εκτρώσεις.</p>
  <p>τη βρίσκει, αλλά συχνά την βρίσκουν κιόλας, συνήθως σε αυτο-τέτοια πράμματα,</p>
  <p>σε ανύποπτους χρόνους και αμήχανες καταστάσεις.</p>
  

  <a href="mailto:kittaritidazine@gmail.com" target="_blank">επικοινωνία</a>
</div>
