<div>
  <h3>Metaman</h3>

  <p>
   είναι πάντα σε σκέψεις
σε ένα εσωτερικό διάλογο
μόνιμα αναζητώντας την αλλαγή
είναι ο υπερήρωας χωρίς υπερδυνάμεις
κυρίες και κύριοι είναι ο μέταμαν
  </p>

  <p>
   Ο “μεταμαν” μετράει περίπου δέκα χρόνια ύπαρξης και περιθωριακής ιντερνετικής δημοσιότητας, και το 2016 αποφάσισε να αυτοεκδοθεί, δημιουργώντας το τεύχος “μεταμαν 54”. Αυτό ήταν και η αρχή για να χτίσει μια ομάδα γύρω του, η οποία κουβεντιάζει, αναρωτιέται, αυτομορφώνεται και είναι σε ετοιμότητα να υλοποιήσει και τις επόμενες έντυπες μορφές του. 
Ο “μεταμαν” κρύβεται μέσα σε κόμιξ, σε strips, σε γελοιογραφίες, σε ποιήματα, σε ιστορίες, χωρίς όμως να προτιμά μόνο ένα από όλα αυτά. Είναι ενοχλητικός, με μόνη φιλοδοξία να λέει πάντα αυτό που σκέφτεται, χωρίς να μετράει τα λόγια του.
  </p>

 
</div>
