<div>
  <h3>Τεφλόν</h3>

  <p>
    Το <i>Τεφλόν</i> είναι ένα ποιητικό σκεύος που από το 2008 ξαμολιέται κάθε έξι μήνες σε διάφορα σημεία της πόλης, αλλά και πηγαινοέρχεται χέρι με χέρι, άλλοτε ανέμελο άλλοτε προβληματισμένο, φιλοδοξώντας να αποτελέσει βήμα για νέες φωνές και να διαλεχθεί γόνιμα με τις παλαιότερες, με την ελπίδα πως θα συμβάλλει στην ανακαίνιση της γλώσσας και στη δημιουργική ενσωμάτωση της λογοτεχνίας στη ζωή μας. 
  </p>

  <p>
    Το <i>Τεφλόν</i> είναι ένα αυτόνομο περιοδικό το οποίο στηρίζεται στη συλλογικότητα και τη συντροφικότητα, δεν βλέπει με καλό μάτι το εγχώριο λογοτεχνικό και εκδοτικό κατεστημένο και πιστεύει ότι η ποίηση είναι κομμάτι της καθημερινής ζωής, μια τέχνη προσιτή σε όλους, που μπορεί να αποτελέσει πολύτιμο όπλο στο πλευρό όσων μάχονται στο πεδίο του λόγου (και όχι μόνο) ενάντια στον φασισμό, τον ρατσισμό και τον σεξισμό. Δίνει έμφαση στην έρευνα, παρουσιάζει ποιήτριες και ποιητές από όλο τον κόσμο και αναδεικνύει τη διαλεκτική σχέση μεταξύ της ποίησης και των κοινωνικοπολιτικών συνθηκών μέσα στις οποίες παράγεται. 
  </p>

  <p>
    Το <i>Τεφλόν</i> είναι μια ντουλάπα γεμάτη κατεστραμμένα νεγκλιζέ.

  </p>

  <a href="https://teflon.wordpress.com/" target="_blank">teflon.gr</a>
</div>
