<div>
  <h3>Τσακμάκι</h3>

  <p>
    Το τσακμάκι είναι μια σπίθα που άναψε την άνοιξη του 2015, μετά από μπόλικα πειράματα συλλογικής γραφής, 
    με την πρόθεση να φανεί πως η ποίηση δεν είναι μόνον ιδιωτική υπόθεση, αλλά μπορεί να βιωθεί και να εξερευνηθεί, και συλλογικά.
  </p>

  <p>
    Ως ένα είδος σύγχρονης κολεγιάς, κυκλοφορεί ελεύθερο με κάθε πιθανό κι απίθανο τρόπο, έξω από τα σύνορα του εμπορίου: χωρίς οικονομικό αντίτιμο, 
    χέρι με χέρι, μέσω χειρόγραφης ή ηλεκτρονικής αλληλογραφίας, καθώς και μέσω επιλεγμένων σημείων στην Αθήνα και στην επαρχία.
  </p>

  <p>
    Στόχος μας, η συλλογική φροντίδα αυτής της φλόγας, η διατήρηση και η ενίσχυσή της από δημιουργούς οποιασδήποτε μορφής τέχνης. Η αλληλεπίδραση κι η συνδιαμόρφωση μεταξύ των μελών της ομάδας, 
    με όρους αντι-ιεραρχικούς κι οριζοντιότητας, κρίνεται απολύτως απαραίτητη, αλλ’ όχι σε βάρος της ατομικής έκφρασης καθενός-καθεμιάς. 
  </p>

  <p class="text-right">
    Αρκεί ν’ αφήνει <br>
    ο καθένας μια φωτιά <br> σε κοινή θέα.
  </p>  
  <a href="https://totsakmaki.wordpress.com/" target="_blank">to tsakmaki online</a>
</div>
