<div>
  <p>
    <strong>7 Μαΐου<br> 17:00 στην <a href="http://www.openstreetmap.org/#map=19/37.96723/23.71240">Πλατεία Μερκούρη</a> στα Άνω Πετράλωνα</strong>
  </p>
  <p>
    Συμμετέχουν οι: Αλέξανδρος Διογένης, EI, Κυτταρίτιδα, Μέταμαν, Ουαπίτι, Sofanky, Τεφλόν, Τσακμάκι, Χίμαιρες
  </p>
  <p>
    Ένα απόγευμα με έντυπα πάνω στην πλατεία και μουσική!
  </p>
  <p>
    &nbsp;
  </p>
  <p>
    Κατέβασε την αφίσα <a href="static/img/simeia20170507_web.jpg" target="_blank"><strong>εδώ</strong></a>.
  </p>

       <p>
    <img alt="Σημεία και Τέρατα" class="img-responsive" src="static/img/simeia20170507_web.jpg">
       </p>   
</div>
